<div class="footer">
    <div class="img">
        <img src="/images/image.png" alt="CSUMB Logo" width="100px" height="100px">
    </div>
    <div class="label">
        <p>CST336 Internet Programming. 2025&#169; Daniel Solano <br> <strong>Disclaimer: </strong> The information
            in this webpage is for the general information. <br>       
        </p>
    </div>
    <br>
</div>
